* {
	margin: 0;
	padding: 0;
	border: 0;
}

article, aside, details, figcaption, figure, footer, header, main, nav, section, summary {
    display:block;
}

html {
    font-family: Arial;
}

nav ul {
    list-style-type: none;
}

nav ul li a {
    text-decoration: none;
    color: black;
    font-size: 20px;
    line-height: 30px;
}

h1 {
    font-size: 36px;
}

h2 {
    font-size: 24px;
}
.content p {
    font-size: 16px;
    line-height: 30px;
}

.one-card p {
    font-size: 12px;
}

/*CSS GRID CONTENT*/
.grid-container {
  display: grid;
  /*sets cols and rows to specified values*/
  grid-template-columns: 300px 4fr;
  grid-template-rows: 100px 250px 450px 100px;
  /*defining grid-areas in classes to the template*/
  grid-template-areas: "header-grid header-grid" "sidebar body-content" "cat-grid cat-grid" "footer-grid footer-grid";
}
.header {
  background: grey;
  padding: 20px;
  grid-area: header-grid;
}
.aside {
  grid-area: sidebar;
  background: purple;
  padding: 40px;
}
.content {
  grid-area: body-content;
  padding: 40px;
}
.cats-cards-div {
  grid-area: cat-grid;
  background-color: white;
  padding: 40px;
}
.footer {
  grid-area: footer-grid;
  background-color: black;
  color: white;
  padding: 20px;
}

/*FLEXBOX CONTENT*/
.card-wrapper {
  display: flex;
}
.one-card {
  background: transparent;
  border: 2px solid #ccc;
  padding: 20px;
  font-family: Arial;
  flex: 1;
  margin-right: 20px;
  display: flex;
  flex-direction: column;
}
.one-card:last-child {
  margin-right: 0;
}
.card-image img {
  max-width: 100%;
}
.card-button-div {
  width: 100%;
  align-self: flex-end;
  margin-top: auto;
}
.card-button-div button {
  background: black;
  border: none;
  width: 100%;
  padding: 10px;
  font-family: Arial;
  color: white;
  text-transform: uppercase;
  font-size: 1rem;
}
